/* GLOBAL STYLES */

html{
  background-color: #FAF4E8;
  color: #D1F0B1;
  font-size: 14pt;
  width: 100%;
}
body{
  background-color: inherit;
  margin-bottom: 4rem;

}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
p{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #414042;
}


/* NAV BAR STYLES */

.navbar{
  background-color: #92B4A7;
  font-family: 'Montserrat', sans-serif;
  border-bottom: 2px solid #D1F0B1;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.4);
  padding: .2rem 2rem;
  text-align: center;
}
li{
  margin-left: 2rem;
  margin-right: 2rem;
}
.nav-link{
  color: #FAF4E8;
  font-size: 1.5rem;
  font-weight: 300;
}
li.active a{
  color: #D1F0B1;
}
.nav-link:hover{
  color: #D1F0B1;
}
.navbar-toggler{
  border: 1px solid #FAF4E8;
  stroke: #FAF4E8 ;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#FAF4E8' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
button:focus {
  outline: none;
}
button:hover{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
/* HOMEPAGE NAVBAR ADJUSTMENTS */
#home{
  background-color: #92B4A7;
}
#home, .navbar{
  border-bottom: none;
  box-shadow: none;
}
#home h1{
  font-size: 5rem;
  text-align: center;
  padding-top: 20%;
  color: #D1F0B1;
}



/* HEADING STYLES */

.title{
  color: #B6CB9E;
  padding: 2rem 2rem .5rem 2rem;
}

/* COLUMN STYLES */
#body_cols{
  padding: 1rem 3rem;
}

/* FOOTER STYLES */

footer{
  background-color: #92B4A7;
  font-family: 'Montserrat', sans-serif;
  font-size: .8rem;
  border-top: 2px solid #D1F0B1;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.4);
  padding-top: 1rem;
  text-align: center;
}
/* MEDIA QUERIES FOR SCREEN SIZES */

/* Small devices (landscape phones, 576px and up) */
@media(min-width: 576px) {

}
/* Medium devices (tablets, 768px and up) */
@media(min-width: 768px) {

}
/* Large devices (desktops, 992px and up) */
@media(min-width: 992px) {
  div{
    height: 100%;
  }
 }
/* Extra large devices (large desktops, 1200px and up) */
@media(min-width: 1366px) {
  li{
    margin-left: 4.5rem;
    margin-right: 4.5rem;
  }
 }
