body{
  background-color: #FAF4E8;
  color: #D1F0B1;
  color: #414042;
}

header{
  background-color: #92B4A7;
  color: #FAF4E8;
}


/* Small devices (landscape phones, 576px and up) */
@media(min-width: 576px) { ... }
/* Medium devices (tablets, 768px and up) */
@media(min-width: 768px) { ... }
/* Large devices (desktops, 992px and up) */
@media(min-width: 992px) { ... }
/* Extra large devices (large desktops, 1200px and up) */
@media(min-width: 1200px) { ... }
