/* GLOBAL STYLES */

html{
  background-color: #FAF4E8;
  color: #D1F0B1;
  color: #414042;
  font-size: 14pt;
}
body{
  background-color: inherit;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
p{
  font-family: 'Open Sans', sans-serif;
}


/* NAV BAR STYLES */

header{
  background-color: #92B4A7;
  font-family: 'Montserrat', sans-serif;
  border-bottom: 2px solid #D1F0B1;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.4);
}
.navbar{
  padding: .2rem 2rem;
}
li{
  margin-left: 2rem;
  margin-right: 2rem;
}
.nav-link{
  color: #FAF4E8;
  font-size: 1.5rem;
  font-weight: 300;
}
li.active a{
  color: #D1F0B1;
}
.nav-link:hover{
  color: #D1F0B1;
}
/* HEADING STYLES */

.title{
  color: #B6CB9E;
  padding: 2rem 2rem .5rem 2rem;
}

/* FOOTER STYLES */

footer{
  background-color: #92B4A7;
  font-family: 'Montserrat', sans-serif;
  border-top: 2px solid #D1F0B1;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.4);
  padding-top: 1rem;
  text-align: center;
}
/* MEDIA QUERIES FOR SCREEN SIZES */

/* Small devices (landscape phones, 576px and up) */
@media(min-width: 576px) { ... }
/* Medium devices (tablets, 768px and up) */
@media(min-width: 768px) { ... }
/* Large devices (desktops, 992px and up) */
@media(min-width: 992px) { ... }
/* Extra large devices (large desktops, 1200px and up) */
@media(min-width: 1200px) { ... }
